datalab-api >= 0.2.1
codeinterpreterapi[all] == 0.1.17
codeboxapi @ git+https://github.com/ml-evs/codebox-api@41cddfb
pip
langchain-anthropic == 0.1.11

# for the streamlit app
streamlit == 1.34.00
duckduckgo-search == 5.3.1
numexpr==2.10.0




